*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

/*#region utility*/

/*Utility*/
.rel{
    position: relative;
}

.abs{
    position: absolute;
}

.fix{
    position: fixed;
}

.b{
    font-weight: bold;
    font-size: smaller;
}

/*#endregion utility*/

:root{
    --orange: orangered;
    --white: white;
    --red: red;
    --green: green;
    --black: black;
}

/*#region header*/

header{
    background-color: var(--orange);
    box-shadow: 0 1px 4px #767676;
}

header>.container{
    justify-content: space-between;  
}

.logo_boo img{
    width: 100%;
    padding-top: 5%;
    color: var(--white);
}

.logo_boo{
    width: 10%;
}

.genere a, .icons_h{
    text-decoration: none;
    vertical-align: middle;
    line-height: 43px;
    color: var(--white);
}
/*#endregion header*/

/*#region main*/

/*#endregion main*/

/*#region footer*/

/*#endregion footer*/



